
.table {
    border-color: black;
}

.table.main .OnSaleItem::after{
    content: "sale";
    position: absolute;
    left: -4rem;
    color:#4080ff;
}
.table.main .OnSaleItem{
    background-color: rgba(64, 128, 255, .2);
}

.table.main .NewItem::after{
    content: "NEW";
    position: absolute;
    left: -4rem;
    color: #ff08d7;
}
.table.main .NewItem{
    background-color: rgba(255, 8, 71, .1);
}

.table.main .coupon .price{
    border-color: #1fb822;
}

.table.main .BaseItem::after{
    content: "base item";
    font-size: 0.8rem;
    position: absolute;
    left: -4rem;
    color: #4c5137;
}
.BaseItem{
    background-color: #fbffdf;
}

.table.main .OutOfStockItem::after{
    content: "Out of stock";
    position: absolute;
    left: -8rem;
    color:#ff0000;
}
.table.main .OutOfStockItem{
    color:#ff0000;
    text-decoration: line-through;
}
.table.main .OutOfStockItem div{
    color: #9d9d9d;
}
