@import 'divTbl.css';
@import 'layouts.css';
@import 'cart_popup.css';
@import 'tooltip.css';
@import 'footer.css';
@import 'paging.css';


.total-div{
    float:right;
}

.activate-coupon{
    position: absolute;
    bottom:.5rem;
    font-size:1rem;
}

#total-placeholder{
    margin-left:20px;
}


.total-div{
    float:right;
}

#show-cart-button{
    /*float:right;*/
    min-height: 1.5rem;
    margin:.5rem;
    position: absolute;
    width: 10rem;
}



td, th{
    min-width: 15%;
    text-align: center;
}

body{
    margin:0;
}