
.table {
    display: table;
    max-width: 800px;
    width: 80%;
    border: 2px solid black;
    margin: 1.5em auto 8rem;
    font-size: 1.5rem;
    position: relative;
}


.heading {
    display: table-row;
    font-weight: bold;
    text-align: center;
}

.row {
    display: table-row;
    position: relative;
}

.table.main .OnSaleItem::after{
    content: "sale";
    position: absolute;
    left: -4rem;
    color:#4080ff;
}
.table.main .OnSaleItem{
    background-color: rgba(64, 128, 255, .2);
}

.table.main .NewItem::after{
    content: "NEW";
    position: absolute;
    left: -4rem;
    color: #ff08d7;
}
.table.main .NewItem{
    background-color: rgba(255, 8, 71, .1);
}

.table.main .BaseItem::after{
    content: "base item";
    font-size: 0.8rem;
    position: absolute;
    left: -4rem;
    color: #4c5137;
}
.BaseItem{
    background-color: #fbffdf;
}

.table.main .OutOfStockItem::after{
    content: "Out of stock";
    position: absolute;
    left: -8rem;
    color:#ff0000;
}
.table.main .OutOfStockItem{
    color:#ff0000;
    text-decoration: line-through;
}
.table.main .OutOfStockItem div{
    color: #9d9d9d;
}
.table.main .OutOfStockItem button{
    visibility: hidden;
}

.cell {
    text-align: center;
    display: table-cell;
    padding-left: .5rem;
    padding-right: .5rem;
}





