
.table {
    display: table;
    max-width: 800px;
    width: 80%;
    border: 2px solid black;
    margin: 1.5em auto 8rem;
    font-size: 1.5rem;
}


.heading {
    display: table-row;
    font-weight: bold;
    text-align: center;
}

.row {
    display: table-row;
}

.cell {
    text-align: center;
    display: table-cell;
    padding-left: .5rem;
    padding-right: .5rem;
}
.row:nth-child(2n){
    background-color: #d0ffd0;
}




