@import 'divTbl.css';
@import 'layouts.css';
.paging{
    text-align:center;
    font-size: 2rem;
    padding:5px;
    background-color: #d0ffd0;
    min-height: 6rem;
}

.total-div{
    margin:0 auto;
    font-size:2rem;
    min-width: 70%;
    text-align: right;
    display: table;
}

#total-placeholder{
    margin-left:20px;
}
.input-label{
    font-size: 1.3rem;
}

.popup-cart{
    position:fixed;
    background-color: rgba(0, 0, 0, .6);
    min-width: 100%;
    min-height: 100%;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#show-cart-button{
    float:right;
    min-height: 1.5rem;
}

.pop-up-cart-table{
    margin:30px auto;
    font-size:2rem;
    width:95%;
    border:1px solid black;
}

.clearfix:after{
    content:"";
    display: table;
    clear:both;
}

#popup-cart-container{
    min-width: 70%;
    background-color: #d0d0ff;
}
#close-popup-cart{
    float:right;
    margin:10px;
    border-radius: 50%;
    color:red;
}

td, th{
    min-width: 15%;
    text-align: center;
}

body{
    margin:0;
}