@import 'divTbl.css';
@import 'layouts.css';
@import 'cart_popup.css';
@import 'utils.css';
@import 'tooltip.css';
.paging{
    text-align:center;
    font-size: 2rem;
    padding:5px;
    background-color: #d0ffd0;
    min-height: 6rem;
}

.upper-footer {
    margin:0 auto;
    font-size:2rem;
    min-width: 70%;
    text-align: right;
    display: table;
}

.total-div{
    float:right;
}

.activate-coupon{
    float:left;
    font-size:1rem;
}

#total-placeholder{
    margin-left:20px;
}
.input-label{
    font-size: 1.3rem;
}



#show-cart-button{
    float:right;
    min-height: 1.5rem;
}






td, th{
    min-width: 15%;
    text-align: center;
}

body{
    margin:0;
}