.tooltip-wrapper {
    position: relative;
}
.tooltip-wrapper:hover .tooltip{
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}
.tooltip {
    margin: 0.4rem;
    padding: 0.5rem 1rem;
    top: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    box-sizing: border-box;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
}

.tooltip-blue, .tooltip-blue::before {
    background: #4090D2;
    color: white;
}

.tooltip-animated {
    -webkit-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
    transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}